h1 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

#Add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 20em;
  height: 100%;
}

.inner:nth-child(odd) {
  background-color: #f2f2f2;
}

.container {
  border: 1px solid black;
  width: 20em;
  height: 100%;
  margin: 10px auto;
}

.delete {
  background-color: white;
  padding: 0.2em;
  margin-right: 0.3em;
  width: 6em;
  box-shadow: 1px 2px;
  cursor: pointer;
}
